.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	max-width: 700px;
	margin: auto;
}

.avatar {
	border-radius: 100%;
	background: rgba(49, 200, 255, 0.2);
}

.flexCol {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flexRow {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.tags {
	color: grey;
	font-style: italic;
	font-size: 0.8rem;
}

.title {
	position: absolute;
	text-decoration: underline;
	font-size: 2.5rem;
	z-index: 1;
	color: white;
	top: 0;
	min-width: 200px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.flexRowSpaceBtw {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.coverImg {
	transform: translateY(-33%);
}

.backBtn:hover {
	background: rgba(49, 200, 255, 0.2);
	color: rgba(0, 0, 0, 0.9);
	transition: all 500ms;
}

@media (max-width: 600px) {
	.container {
		justify-content: flex-start;
		padding: 0;
	}
	.title {
		font-size: 2rem;
	}
}
